#stuff that changes unnecessarily
FindingDeForester/*.metadata
FindingDeForester/*.launch
FindingDeForester/*.DS_Store
FindingDeForester/build/
FindingDeForester/.gradle/
FindingDeForester/.settings/
FindingDeForester/eclipse/.metadata/
FindingDeForester/run/logs/
FindingDeForester/run/config/
.metadata/
RemoteSystemTempFiles
.DS_Store
FindingDeForester/run/*

