#stuff that changes unnecessarily
FindingDeForester/*.metadata
FindingDeForester/*.launch
FindingDeForester/*.DS_Store
FindingDeForester/build/
FindingDeForester/.gradle/
FindingDeForester/.settings/
FindingDeForester/eclipse/.metadata/
.metadata/
RemoteSystemsTempFiles/
.DS_Store
FindingDeForester/run/c*
FindingDeForester/run/l*
FindingDeForester/run/s*
FindingDeForester/run/u*
FindingDeForester/run/o*
FindingDeForester/run/r*
FindingDeForester/bin/.gitignore
.recommenders
