# eclipse
FindingDeForester/*.metadata
FindingDeForester/*.launch
FindingDeForester/*.DS_Store
FindingDeForester/build/
FindingDeForester/.gradle/
FindingDeForester/.settings/
FindingDeForester/eclipse/.metadata/
